* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
}

.wrapper {
    width: 98%;
    margin: 0 auto;
    display: block;
    background-color: rgb(255, 255, 255);
}

.image {
    margin: 0 auto;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.form {
    padding: 10px;
    background-color: rgb(238, 238, 238);
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.one {
    display: flex;
    background-color: rgb(126, 229, 218);
    flex-grow: 2;
}

.two {
    margin: 0 5px;
    display: flex;
    background-color: rgb(112, 204, 194);
    flex-grow: 1;
}

.three {
    display: flex;
    background-color: rgb(98, 179, 170);
    flex-grow: 2;
    text-align: center;
}

ul {
    padding: 20px;
    display: ;
}

ul li {
    text-align: center;
}

.container ul {
    text-align: center;
    margin: auto auto;
}

.form form input[type="text"] {
    display: block;
    text-align: left;
    justify-content: center;
    margin: 10px auto;
    min-width: 300px;
}

.yanyana {
    display: inline-flex;
    justify-content: center;
    margin: 10px auto;
    text-align: center;
}

footer {
    text-align: center;
    margin: 20px auto;
}

.box.one ul {
    font-size: 16px;
}
